.body_background{
    background-image: url(photo_3.jpg);
    background-position:center;
    background-size:cover;
}
#number_1, #number_2{
    width: 400px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.822);
}
h1{
    color: white;
    font-family: monospace;
    font-weight: bold;
}
#no1 , #no2{
    color: white;
    font-family:Tahoma;
}
#output{
    background: white;
    border-radius: 10px;
    border-top: 10px solid rgb(255, 214, 191);
    padding: 10px;
    float: none;
    text-align: left;
    color: black;
}
#button_send{
    background-color: rgb(255, 214, 191);
    width: 25%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: monospace;
    border-color: black;
    border-width: 1px;
}
#player1_score , #player2_score{
    color: rgb(137, 40, 161);
    font-weight: bold;
    font-size: 20px;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 2px;
	width: 100px;
	margin-bottom: 12px;
    color: rgb(137, 40, 161);

}

